<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: includes" />
    <title>Pillowing Bank - Staff</title>
</head>
<body th:inline="text">
<th:block th:replace="partials/header :: topbar('Pillowing Bank - Staff', true, 'user')" />
<div class="row">
    <div class="small-7 column small-centered">
        <a th:href="@{/admin/user/add}" class="button"><i class="fa fa-plus"></i> Add User</a>
        <table>
            <thead>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Active?
                    </th>
                    <th>
                        Roles
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user,iterationStatus : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.active == 1 ? 'Yes' : 'No'}"></td>
                    <td>
                        <th:block th:each="role : ${user.roles}">
                            <th:block th:text="${#strings.capitalize(#strings.toLowerCase(role.role))}" /><th:block th:if="${!roleStat.last}">, </th:block>
                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="partials/footer :: footer" />
</body>
</html>