<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: includes" />
    <title>Pillowing Bank - Add Item</title>
</head>
<body th:inline="text">
<th:block th:replace="partials/header :: topbar('Pillowing Bank - Add Item', true, 'item')" />
<div class="row">
    <div class="small-7 small-centered column">
        <th:block th:if="${__${ACTION}__} eq ${@constantService.get('ACTION_ADD_SUBMIT')}">

            <div class="callout success" th:if="${__${STATUS}__} eq ${@constantService.get('STATUS_SUCCESS')}">
                Successfully added item with name [[${item_name}]]!
            </div>

            <div class="callout alert" th:if="${__${STATUS}__} eq ${@constantService.get('STATUS_FAILURE')}">

                <th:block th:if="${__${ERROR}__} eq ${@constantService.get('ERROR_DUPLICATE_KEY')}">
                    An item with the name [[${item_name}]] already exists.
                </th:block>

                <th:block th:if="${__${ERROR}__} eq ${@constantService.get('ERROR_UNKNOWN')}">
                    An unknown error has occurred.
                </th:block>

            </div>

        </th:block>
        <form th:action="@{/admin/item/add}" th:object="${item}" method="post">
            <label for="itemName">Item Name</label>
            <input type="text"
                   id="itemName"
                   th:field="*{name}"
                   data-focus="true"
                   placeholder="Item Name"/>

            <input type="submit" class="button expanded" value="Create Item" />
        </form>
    </div>
</div>
<th:block th:replace="partials/footer :: footer" />
</body>

</html>