<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: includes" />
    <title>Pillowing Bank - Add Client</title>
</head>
<body th:inline="text">
<th:block th:replace="partials/header :: topbar('Pillowing Bank - Add Client', true, 'client')" />
<div class="row">
    <div class="small-7 small-centered column">
        <th:block th:if="${__${ACTION}__} eq ${@constantService.get('ACTION_ADD_SUBMIT')}">

            <div class="callout success" th:if="${__${STATUS}__} eq ${@constantService.get('STATUS_SUCCESS')}">
                Successfully added client with name [[${client_name}]]!
            </div>

            <div class="callout alert" th:if="${__${STATUS}__} eq ${@constantService.get('STATUS_FAILURE')}">

                <th:block th:if="${__${ERROR}__} eq ${@constantService.get('ERROR_DUPLICATE_KEY')}">
                    A client with the name [[${client_name}]] already exists.
                </th:block>

                <th:block th:if="${__${ERROR}__} eq ${@constantService.get('ERROR_UNKNOWN')}">
                    An unknown error has occurred.
                </th:block>

            </div>

        </th:block>
        <form th:action="@{/admin/client/add}" th:object="${client}" method="post">
            <label for="clientName">Client Name</label>
            <input type="text"
                   id="clientName"
                   th:field="*{name}"
                   data-focus="true"
                   placeholder="DeviantArt Username"/>

            <label for="clientNote">Client Note</label>
            <textarea id="clientNote" th:field="*{note}" placeholder="A private note about the client"></textarea>

            <input type="submit" class="button expanded" value="Create Client" />
        </form>
    </div>
</div>
<th:block th:replace="partials/footer :: footer" />
</body>

</html>