<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: includes" />
    <title>Pillowing Bank - Client</title>
    <script type="text/javascript" th:inline="javascript">
        var rootUrl = /*[[@{/}]]*/ '/';
        var clientId = /*[[${client.id}]]*/ 0;
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        var EVENT_FOUNDATION_REVEAL_CLOSE = "closed.zf.reveal";

        $(document).ready(function() {
            var inventoryForm = $("#inventoryChangeForm");
            var inventoryModal = $("#inventoryChangeModal");

            var fields = {
                quantity: $("#quantity"),
                item: $("#item"),
                note: $("#note")
            };

            var populateItemForm = function(row, data) {
                fields.quantity.val(data['quantity']);
                fields.item.val(row.data('item-name'));
                fields.note.val('');
            };

            var sendInventoryChange = function(itemId, quantity, note, success, error) {
                var data = {
                    clientId: clientId,
                    itemId: itemId,
                    quantity: quantity,
                    note: note
                };

                $.ajax({
                    method: 'post',
                    dataType: 'json',
                    url: rootUrl + 'admin/ajax/modifyInventory',
                    data: data,
                    success: success,
                    error: error
                });
            };

            inventoryForm.submit(function(e) {
                e.preventDefault();
            });

            $('tr.data-line').editTable(function(row,newValues,oldValues) {
                populateItemForm(row, newValues);
                inventoryModal.foundation('open');
                fields.note.focus();
                return new Promise(function(resolve, reject) {
                    var onSub = function() {
                        var doContinue = function() {
                            inventoryForm.off('submit', null, onSub);
                            inventoryModal.off(EVENT_FOUNDATION_REVEAL_CLOSE);
                            inventoryModal.foundation("close");
                            sendInventoryChange(
                                row.data('item-id'),
                                newValues.quantity,
                                fields.note.val(),
                                function(response) {
                                    if (isEmpty(response)) {
                                        row.remove();
                                    }
                                    resolve(newValues);
                                    swal("Nice!", "Inventory updated!", "success");
                                    $(".sa-confirm-button-container button.confirm").focus();
                                },
                                function() {
                                    resolve(oldValues);
                                    swal("Uh-oh!", "Something went wrong", "error");
                                });
                        };

                        if (fields.note.val() == '') {
                            swal({
                                title: "Are you sure?",
                                text: "We strongly suggest a note with every transaction. Are you sure you want to submit one with no note?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Yes, I'm sure.",
                                cancelButtonText: "Oops, take me back!",
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }, function(isConfirm) {
                                if (isConfirm) {
                                    doContinue();
                                }
                            });
                            $(".sa-confirm-button-container button.confirm").focus();
                        } else {
                            swal("Hold On", "Loading, please wait. . .");
                            doContinue();
                        }
                    };
                    var onClose = function() {
                        inventoryModal.off(EVENT_FOUNDATION_REVEAL_CLOSE, null, onClose);
                        resolve(oldValues);
                    };
                    inventoryForm.submit(onSub);
                    inventoryModal.on(EVENT_FOUNDATION_REVEAL_CLOSE, null, onClose);
                });
            });
        });
        /*]]>*/
    </script>
</head>
<body th:inline="text">
<div id="inventoryChangeModal" class="reveal" data-reveal="">
    <h2 id="modal-title">Inventory Change</h2>
    <form id="inventoryChangeForm">
        <label for="item">Item</label>
        <input type="text" id="item" readonly="true" />
        <label for="quantity">New Quantity</label>
        <input type="text" id="quantity" readonly="true" />
        <label for="note">Transaction Note</label>
        <input type="text" id="note" placeholder="Transaction Note / Justification" />
        <input type="submit" class="button expanded" value="Submit" />
    </form>
</div>
<th:block th:replace="partials/header :: topbar('Pillowing Bank - Client', true, 'client')" />
<div class="row">
    <div class="small-7 column small-centered">
        <p class="lead">
            Viewing inventory of <strong>[[${client.name}]]</strong>
            <a class="tiny button inline secondary" th:href="@{/admin/audit/client/{id}(id=${client.id})}"><i class="fa fa-arrow-right"></i> Audit Client</a>
        </p>
        <th:block th:if="${client.note ne null and client.note.length() gt 0}">
            <div class="callout primary">
                <p class="lead">This client has a staff note.</p>
                <hr />
                <p th:text="${client.note}"></p>
            </div>
        </th:block>
        <a th:href="@{/admin/client/{client}/add-item?type=currency(client=${client.id})}" class="button small">
            <i class="fa fa-plus"></i> Update Balances
        </a>
        <table th:if="${currencyPage.totalElements ne 0}" class="hover">
            <caption>Balances (Showing <th:block th:replace="partials/pagination :: showing(${currencyPage})" />)</caption>
            <thead>
                <tr>
                    <th width="60%">
                        Currency
                    </th>
                    <th width="20%">
                        Balance
                    </th>
                    <th width="20%">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="currencyLine,iterationStatus : ${currencyPage.content}"
                    class="data-line"
                    th:attr="
                        data-te-row-id=${currencyLine.id},
                        data-item-name=${currencyLine.item.name},
                        data-item-id=${currencyLine.item.id}
                        "
                    data-currency="true">
                    <td th:text="${currencyLine.item.name}"></td>
                    <td class="text-right" data-te-role="value"
                        data-te-attribute="quantity"
                        th:attr="data-te-value=${currencyLine.quantity}"
                        th:text="${currencyLine.quantity}">
                    </td>
                    <td class="text-right" data-te-role="actions"></td>
                </tr>
            </tbody>
        </table>
        <div th:if="${currencyPage.totalElements eq 0}" class="callout warning">
            Client has no currency records to display.
        </div>
        <th:block th:if="${(currencyPage.totalElements ne 0) and (currencyPage.totalPages gt 1)}">
            <th:block
                    th:replace="partials/pagination :: pagination(${currencyPage}, 8,
                        @{/admin/client/{client}/inventory/{inventory}/currency/{page}(client=${client.id},inventory=${inventoryPageNumber})}
                    )" />
        </th:block>

        <hr />
        <a th:href="@{/admin/client/{client}/add-item?type=item(client=${client.id})}" class="button small">
            <i class="fa fa-plus"></i> Update Inventory
        </a>
        <table th:if="${inventoryPage.totalElements ne 0}" class="hover">
            <caption>Inventory (Showing <th:block th:replace="partials/pagination :: showing(${inventoryPage})" />)</caption>
            <thead>
                <tr>
                    <th width="60%">
                        Item
                    </th>
                    <th class="text-right" width="20%">
                        Quantity
                    </th>
                    <th class="text-right" width="20%">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="inventoryLine,iterationStatus : ${inventoryPage.content}"
                    class="data-line"
                    th:attr="data-te-row-id=${inventoryLine.id},
                            data-item-name=${inventoryLine.item.name},
                            data-item-id=${inventoryLine.item.id}">
                    <td th:text="${inventoryLine.item.name}"></td>
                    <td class="text-right" data-te-role="value"
                        data-te-attribute="quantity"
                        th:attr="data-te-value=${inventoryLine.quantity}"
                        th:text="${inventoryLine.quantity}">
                    </td>
                    <td class="text-right" data-te-role="actions">
                    </td>
                </tr>
            </tbody>
        </table>
        <th:block th:if="${inventoryPage.totalElements ne 0}">
            <th:block
                    th:replace="partials/pagination :: pagination(${inventoryPage}, 8,
                        @{/admin/client/{client}/inventory/{page}/currency/{currency}(client=${client.id},currency=${currencyPageNumber})}
                    )"
            />
        </th:block>

        <div th:if="${inventoryPage.totalElements eq 0}" class="callout warning">
            There is no inventory to display.
        </div>
    </div>
</div>
<th:block th:replace="partials/footer :: footer" />
</body>
</html>