<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/header :: includes" />
    <title>Pillowing Bank - Client</title>
    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('tr.data-line').editTable(function(row,newValues,oldValues) {
                if (newValues.quantity < 0)
                    return oldValues;
                if (newValues.quantity == 0) {
                    if (!row.data('currency')) {
                        row.remove();
                    }
                }
                return Promise.resolve(newValues);
            });
        });
        /*]]>*/
    </script>
</head>
<body th:inline="text">
<th:block th:replace="partials/header :: topbar('Pillowing Bank - Client', true, 'client')" />
<div class="row">
    <div class="small-7 column small-centered">
        <p class="lead">Viewing details of [[${client.name}]]</p>
        <table th:if="${currencyPage.totalElements ne 0}" class="hover">
            <caption>Balances (Showing <th:block th:replace="partials/pagination :: showing(${currencyPage})" />)</caption>
            <thead>
                <tr>
                    <th width="60%">
                        Currency
                    </th>
                    <th width="20%">
                        Balance
                    </th>
                    <th width="20%">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="currencyLine,iterationStatus : ${currencyPage.content}"
                    class="data-line"
                    th:attr="data-te-row-id=${currencyLine.id}"
                    data-currency="true">
                    <td th:text="${currencyLine.item.name}"></td>
                    <td class="text-right" data-te-role="value"
                        data-te-attribute="quantity"
                        th:attr="data-te-value=${currencyLine.quantity}"
                        th:text="${currencyLine.quantity}">
                    </td>
                    <td class="text-right" data-te-role="actions"></td>
                </tr>
            </tbody>
        </table>
        <th:block th:if="${(currencyPage.totalElements ne 0) and (currencyPage.totalPages gt 1)}">
            <th:block
                    th:replace="partials/pagination :: pagination(${currencyPage}, 8,
                        @{/admin/client/{client}/inventory/{inventory}/currency/{page}(client=${client.id},inventory=${inventoryPageNumber})}
                    )" />
        </th:block>


        <table th:if="${inventoryPage.totalElements ne 0}" class="hover">
            <caption>Inventory (Showing <th:block th:replace="partials/pagination :: showing(${inventoryPage})" />)</caption>
            <thead>
            <tr>
                <th width="60%">
                    Item
                </th>
                <th class="text-right" width="20%">
                    Quantity
                </th>
                <th class="text-right" width="20%">
                    Edit
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inventoryLine,iterationStatus : ${inventoryPage.content}" class="data-line" th:attr="data-te-row-id=${inventoryLine.id}">
                <td th:text="${inventoryLine.item.name}"></td>
                <td class="text-right" data-te-role="value"
                    data-te-attribute="quantity"
                    th:attr="data-te-value=${inventoryLine.quantity}"
                    th:text="${inventoryLine.quantity}">
                </td>
                <td class="text-right" data-te-role="actions">
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:if="${inventoryPage.totalElements ne 0 and inventoryPage.totalPages gt 1}">
            <th:block
                    th:replace="partials/pagination :: pagination(${inventoryPage}, 8,
                        @{/admin/client/{client}/inventory/{page}/currency/{currency}(client=${client.id},currency=${currencyPageNumber})}
                    )" />
        </th:block>
        <div th:if="${inventoryPage.totalElements eq 0}" class="callout warning">
            There is no inventory to display.
        </div>
    </div>
</div>
<th:block th:replace="partials/footer :: footer" />
</body>
</html>