<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="pagination(page, maxElements, url)">
    <ul class="pagination text-center" role="navigation" aria-label="Pagination"
        th:with="pageElements = ${@paginationService.getPaginationElements(page, maxElements)}">

        <li th:class="${'pagination-previous' + (page.first ? ' disabled' : '')}">
            <a th:if="${!page.first}" th:href="${#strings.replace(url, '{page}', page.number)}">Previous</a>
            <th:block th:if="${page.first}">Previous</th:block>
        </li>

        <li th:each="pe : ${pageElements}" th:class="${(pe.ellipsis ? 'ellipsis' : '') + (pe.active ? 'current' : '')}">
            <a th:if="${!pe.active and !pe.ellipsis}" th:href="${#strings.replace(url, '{page}', pe.index + 1)}" th:text="${pe.index + 1}"></a>
            <th:block th:if="${pe.active and !pe.ellipsis}" th:text="${pe.index + 1}" />
        </li>

        <li th:class="${'pagination-next' + (page.last ? ' disabled' : '')}">
            <a th:if="${!page.last}" th:href="${#strings.replace(url, '{page}', page.number + 2)}">Next</a>
            <th:block th:if="${page.last}">Next</th:block>
        </li>

    </ul>
</th:block>
<th:block th:fragment="showing(page)" th:inline="text"><!--/*
    */--><th:block th:with="start=${page.size * page.number + 1},end=${start+page.content.size()-1},total=${page.totalElements}">[[${start}]] - [[${end}]] of [[${total}]]</th:block><!--/*
*/--></th:block>
</body>
</html>