.top-bar {
    background-color:#272932;
    padding: 0;
}

.button {
    background-color: #272932;
}

.logo.show-for-large img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top-bar .button-group {
    margin-bottom: 0;
}

.herobar {
    background-color: #074E68;
    color: #fff;
    text-align: center;
}

.herobar h1 {
    font-size: 2.875rem;
    color: #fefefe;
    font-weight: 200;
    text-align: center;
}