.top-bar {
    background-color:#272932;
    padding: 0;
}

.button {
    background-color: #272932;
}

.logo.show-for-large img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.top-bar .button-group {
    margin-bottom: 0;
}

.herobar {
    background-color: #074E68;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.herobar.withnav {
    padding-bottom: 2rem;
}
.herobar h1 {
    font-size: 2.875rem;
    color: #fefefe;
    font-weight: 200;
    text-align: center;
}


.herobar ul.nav {
    position: absolute;
    bottom: 0;
    text-align: center;
    float: none;
    margin: 1rem auto 0 auto;
    width: 100%;
}

.herobar ul.nav li {
    display: inline-block;
    float: none;
}

.herobar ul.nav li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.9rem 1rem 0.75rem;
    text-transform: uppercase;
}

.herobar ul.nav li a:hover {
    background: rgba(255,255,255,0.15);
    transition: all .25s ease-in-out;
}

.footer {
    background-color: #272932;
    padding: 2rem 4rem;
    margin-top: 2rem;
    text-align: center;
    color: #fff;
}

.footer-links {
    list-style-type: none;
}

.footer-links a {
    text-decoration: none;
}

.footer-links a, .footer p {
    font-weight: 300;
    font-size: 0.8em;
    color: #fff;
}

.footer h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}